@use 'tailwindcss' as *;
@use "primeicons/primeicons.css" as *;
@use '@angular/material' as mat;

@plugin "tailwindcss-primeui";

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

